<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @coupon, partial: "card", as: :coupon %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "coupons/coupon_purchased_products" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "coupons/coupon_assigned_coupons" %>
  </div>
</div>
  <!-- Show Page Customization end -->
