<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Product Reviews

    <a data-toggle="collapse" href="#customer_product_reviews_new_form">
      Add product review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @customer.product_reviews.each do |product_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to product_review, product_review %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="customer_product_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
