<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sent Many Friends Request

    <a data-toggle="collapse" href="#customer_sent_many_friends_request_new_form">
      Add customer friend
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @customer.sent_many_friends_request.each do |customer_friend| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to customer_friend, customer_friend %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="customer_sent_many_friends_request_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
