<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Purchased Products

    <a data-toggle="collapse" href="#customer_purchased_products_new_form">
      Add purchased product
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @customer.purchased_products.each do |purchased_product| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to purchased_product, purchased_product %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="customer_purchased_products_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
