<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Products

    <a data-toggle="collapse" href="#merchant_products_new_form">
      Add product
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @merchant.products.each do |product| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to product, product %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="merchant_products_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "merchants/merchant_products_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
