<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Partnership Request

    <a data-toggle="collapse" href="#merchant_partnership_request_new_form">
      Add merchant partnership
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @merchant.partnership_request.each do |merchant_partnership| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to merchant_partnership, merchant_partnership %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="merchant_partnership_request_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "merchants/merchant_partnership_request_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
