<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @product_review, partial: "card", as: :product_review %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "product_reviews/product_review_purchased_products" %>
  </div>
</div>
