<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @product, partial: "card", as: :product %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "products/product_purchased_products" %>
  </div>
</div>
