<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @assigned_coupon, partial: "card", as: :assigned_coupon %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
